In [1]:
import pandas as pd
c=pd.read_csv('main.csv')
c = c.groupby('Team').sum() 
c = c.sort_values(['Red Cards', 'Yellow Cards'], ascending = False) 
c.iloc[:, -5:-3]

                     Yellow Cards  Red Cards
Team
Greece                          9          1
Poland                          7          1
Republic of Ireland             6          1
Italy                          16          0
Portugal                       12          0
Spain                          11          0
Croatia                         9          0
Czech Republic                  7          0
Sweden                          7          0
France                          6          0
Russia                          6          0
England                         5          0
Netherlands                     5          0
Ukraine                         5          0
Denmark                         4          0
Germany                         4          0